# Enable top-most EditorConfig file
root = true

# Text files
[*.txt]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Markdown files
[*.md]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true

# CPlusPlus files
[*.{cpp,cppm}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Git files
[.{gitattributes,gitignore}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

# EditorConfig files
[.editorconfig]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# GitHub configs
[.github/CODEOWNERS]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[.github/**/*.{md,y*ml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# CMake files
[CMakeLists.txt]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
